#red{
    color: red;
    /* color: beige; */
}
#blue{
    color: blue;
}
#yellow{
    color: yellow;
}
#green{
    color: green;
}
#orange{
    color:orange;
}
img{
    width: 200px;
    height: 200px;
}
.colors{
    font-weight: normal;
}