body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
    grid-auto-rows: 414px 130px 155px 22px;
    gap:9px;
    background-color: black;
    width:748px;
    height:748px;
}

.a{
    background-color: red;
    grid-area: 1/1/2/2;
    grid-column: span 1;
    grid-row: span 1;
}
.b{
    grid-area: 4/2/5/3;
    background-color: yellow;
    grid-column: span 1;
    grid-row: span 1;
}
.c{
    grid-area: 3/3/5/3;
    background-color: gray;
    /* grid-column: span 1;
    grid-row: span 1; */
}
.d{
    grid-area: 2/3/3/5;
    background-color: #004592;
    border-bottom: 10px solid black;
    
    /* grid-column: span 1;
    grid-row: span 1; */
}
.e{
    background-color: beige;
    grid-area:1/2/2/5 ;
}
.f{
    background-color: beige;
    grid-area:2/1/4/2 ;
}
.g{
    background-color: beige;
    grid-area: 2/2/4/4;
}
.h{
    background-color: beige;
    grid-area:3/4/5/5 ;
}
.i{
    background-color: beige;
    grid-area:4/1/5/2 ;
}